<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebStreamDeck</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
        function triggerAction(action) {
            if (action === 'dummy') return; // Do nothing for dummy buttons
            // Use the Fetch API to send a GET request with the action as a query parameter
            fetch('/trigger?action=' + action)
                .then(() => console.log(action + ' triggered'))
                .catch(error => console.error('Error:', error));
        }
    </script>
</head>
<body>
    <div id="button-container">
        {% for action in actions %}
            <button class="action-button" onclick="triggerAction('{{ action.name }}')" style="background-color: {{ action.color }}; color: white; order: {{ action.position }};">{{ action.name }}</button> 
        {% endfor %}
        {% set total_actions = actions|length %}
        {% for dummy in ilist %}
            <button class="action-button" onclick="triggerAction('dummy')" style="order:{{dummy}};">{{dummy}}</button>
        {% endfor %}
    </div>
    
</body>
</html>
 